
#ui {
  width: 300px;
  float: left; /* add this */
}

#vis {

}

#file {
  fill: red;
}

circle {
  fill: blue;
  opacity: 0.5;
}

path {
  stroke: grey;
  stroke-width: 1;
  fill: none;
  opacity: 0.5;
}
