
.column {
  float: left;
  width: 33.33%;
}

#ui {
  width: 200px;
  float: left; 
}

#vis {
  width: 700px;
  background-color: #fcfcfc;
  float: left;
}

#hist {
  width: 700px;
  float: left;
}

#file {
  fill: red;
}

circle {
  fill: blue;
  opacity: 0.5;
}

path {
  stroke: grey;
  stroke-width: 1;
  fill: none;
  opacity: 0.5;
}
