
.column {
  float: left;
  width: 33.33%;
}

#ui {
  width: 200px;
  float: left; 
}

#vis {
  width: 750px;
  height: 900px;
  float: left;
  background-color: #fcfcfc;
  border-style: dotted;
  border-width: 1px;
}

#hist {
  width: 700px;
  height: 400px;
  margin-left: 20px;
  float: left;
  background-color: #fcfcfc;
  border-style: dotted;
  border-width: 1px;
}

#file {
  fill: red;
}

circle {
  fill: black;
  opacity: 0.2;
}

path {
  stroke: grey;
  stroke-width: 1;
  fill: none;
  opacity: 0.5;
}
